/* ----------------header-------------------------- */
#header{
    background-color: rgb(69, 64, 64);
    height: 100px;
    /* width: 109rem; */
    border: 1px solid #ccc;
}
/* ----------------Div logo------------------------ */
.logo{
    font-size: 30px;
    margin-left: 200px;
    padding-top: 30px;
    color:white;
}
/* -----------------span----------------------- */
.span1{
    color:red;
}
.span2{
    color: red;
}
/* --------------------nav ul hover---------------------------------- */
nav ul li a:hover{
    color: red;
}
/* ---------------nav ul------------------------------- */
nav ul {
    list-style: none;
    margin-top: -25px;
    margin-left: 19rem;
}
/* ----------------nav ul li--------------------------------- */
nav ul li {
    display: inline;
    margin-right: 26px;
    font-size: 20px;
}
/* ------------------nav a-------------------------- */
nav a {
    text-decoration: none;
    color: #fff;
}
/* ---------------Button--------------------------- */
.button1{
    float: right;
    margin-right: 14rem;
    margin-top: -4rem;
    border: 2px solid red;
    height: 3rem;
    width: 9rem;
    border-radius: 3px;
    background-color: transparent;
    color: white;
}
/* ----------------------Hero section--------------------------- */
.hero-section{
    background-color: rgb(41, 38, 38);
    height: 40rem;
    /* width: 109rem; */
}
/* -------------Div Lines----------------------------- */
.lines1{
    padding-top: 7rem;
    padding-left: 14rem;
    color: white;
    font-size: 23px;
}
/* -----------------H1------------------------------- */
.h1{
    font-size: 50px;
}
.line1{
    margin-left: 60px;
}
/*----------------Span Color--------------------------- */
.word-color1{
    color: red;
}
/* -------------Button--------------------------------- */
.button2{
    border: red 2px solid;
    height: 3rem;
    width: 12rem;
    background-color: rgb(184, 30, 30);
    border-radius: 3px;
    color: white;
    font-weight: 900;      
}
/* --------------------Div Image--------------------------------- */
div.images1{
    float: right;
    margin-top: -25rem;
    margin-right: 15rem;

}
.img1{
    height: 28rem;
    width: 23rem;
    border-radius: 30px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%)
}
/* ------------------Service Section--------------------------------- */
.service-section{
    background-color: rgb(69, 64, 64);
    height: 40rem;
    /* width: 109rem; */
    padding-top: 30px;
}
/* -------------------Service section ul li a------------------------------- */
.service-section ul {
    margin-left: 20rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: -30px;
    list-style: none;
    border-color: black;
}
.service-section ul li {
    display: inline;
    margin-right: 71px;
    font-size: 30px;
}
.service-section a {
    text-decoration: none;
    color: #fff;
}
/* -------------------Div Lines-------------------------------------- */
.lines2{
  margin-left: 48rem; 
  margin-top: 8rem;
}
.line2{
    margin-left: 30px;
    color: red;
}
.heading{
    font-size: 40px;
    margin-top: -10px;
    color: white;
}
.line3{
    color: white;
}
/* -----------------Div List------------------------------ */
.list{
    margin-left: 40px;
}
/* ---------------heading and strong-------------------------------- */
.strong1{
    color: white;
}
.strong2{
    color: white;
}
.strong3{
    color: white;
}
.strong4{
    color: white;
}
/* --------------------Service Section Button----------------------------- */
.button3{
    margin-left: 20rem;
    margin-top: 8px;
    border: 1px;
    height: 40px;
    width: 100px;
    background-color: rgb(241, 26, 26);
    color: white;
    border-radius: 3px;
    border: red 1px solid;

}
.box1{
    height: 380px;
    margin-top: -27rem;
    width: 56px;
    border: red 14px solid;
    margin-left: 11rem;
}
.box3{
    margin-top: -23.66rem;
    margin-left: 14rem;
    max-width: 400px;
    background-color: rgb(41, 38, 38);
    overflow: hidden;
}
/* --------------------Image 2--------------------------------- */
.image2{
    height: 22rem;
    width: 20rem;
    border-radius: px;
    z-index: auto;
}
.box2{
    border:  rgb(41, 38, 38) 2px solid;
    height: 50px;
    width: 100px;
    margin-top: -5rem;
    margin-left: 8rem;
    background-color: rgb(41, 38, 38);
    
}
/* ----------------------Skill Section-------------------------------------- */
.skill-section{
    background-color: rgb(41, 38, 38);
    height: 30rem;
    display: flex;
    align-items: center;

}
.div-paragraph{
    margin-left: 20rem;
    padding-top: 3rem;
}
.my-skill{
    color: red;
    margin-left: 35px;
}
.skill-section-design{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.skill-section-pragragh{
    font-size: 18px;
    
}
/* ---------------------Button------------------------- */
.read-more{
    border: 2px solid red;
    width: 150px;
    height: 50px;
    margin-top: 30px;
    font-size: 12px;
    font-weight: 900;
    background-color: rgb(241, 25, 25);
    border-radius: 3px;
    color: white;
}
.my-skill ~ p{
    color: white;
}

/* --------------------Job Experience---------------------------------------- */
.job-experience{
    background-color: rgb(69, 64, 64);
    height: 30rem;
    text-align: center;
}
.job-experience-word{
    padding-top: 10rem;
}
.job-experience-pixels{
    padding-top: 10px;
    font-size: 40px;
    color: white;
}
.item1{
    width: 250px;
    height: 150px;
    display: flex;
    background-color: rgb(69, 64, 64);
    align-items: center;
    margin-left: 59px;
    margin-bottom: 52px;
}
.item1 h2{
    margin:-138px -143px -47px 95px;
}


.figma-box1{
    margin-right: 60px;
    width: 11rem;
    height: 4px;
    background-color: white;
    margin-top: 80px;
}
 /* .figma-box2{
    margin-right: 60px;
    width: 11rem;
    height: 4px;
    background-color: red;
    margin-top: 80px;
} */